[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "*"
pandas = "*"
pytest = "*"
pytest-playwright = "*"
pytest-html = "*"
pytest-xdist = "*"

[dev-packages]

[requires]
python_version = "3.13"
